body {
  margin: 0;
  background: #0c0c16;
}

.programFunction {
  color: #683143;
  font-family: 'Roboto Mono', monospace;
  display: inline;
  list-style: none;
}
.square {
  height: 40px;
  width: 40px;
  background-color: #202035;
  border-radius: 2px;
  justify-items: space-between;
  float: right;
}

.programFunction li {
  display: inline;
  padding-right: 10px;
  font-size: 16px;
}

header {
  background: linear-gradient(90deg, #202035 28.13%, #ED1E32 100%);
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-size: 35px;
  text-align: center;
}


header a {
  color: #E9DBDB;
  text-align: center;
  font-size: 70px;
  align-items: center;
  
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  align-items: center;
}

.octopusIcon {
  float: left;
  display: flex;
  justify-content: center;
  width: auto;
}

.navBar {
  text-align: center;
  font-size: 14px;
  align-items: center;
  color: #E9DBDB;
  background-color: #202035;
  padding: 10px;
  text-align: center;
  border-bottom: 5px #0c0c16;
}

.navBar li {
  list-style: none;
  display: inline;
  padding: 30px;
  font-size: 18px;
}

.navBar li:hover {
  background-color:#1a1a2c;
  border-radius: 2px;
}


.navBar a {
  color: #E9DBDB;
  font-family: 'Roboto Mono', monospace;
}

.dropdown-content {
  padding-top: 50px;
  display: none;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  color: #E9DBDB;
  text-align: center;
}

.dropdown-content:hover {
  color: #ED1E32;
}

.show {
  display: block;
}


.heroImg {
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background: #202035;
  border-radius: 2px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #E9DBDB;
}
button {
  padding: 15px;
  background: #ED1E32;
  border-radius: 2px;
  color: black;
  font-size: 16px;
  border: none;
  font-family: 'Roboto Mono', monospace;
}


footer {
  background: #683143;
  padding: 5px;
  color: #E9DBDB;
  font-family: 'Roboto Mono', monospace;
  align-items: center;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
  color: #E9DBDB;
}

.instaPost {
  display: flex;
  width: 33%;
  padding: 25px;
  height: 15%;
}

#pp {
  color: #E9DBDB;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: center;
}


/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  color: #E9DBDB;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}


/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #E9DBDB;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}

h1 {

  color: white;
  font-family: 'Roboto Mono', monospace;
}

.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
